.Login {
  text-align: center;
}
.p{
  font-size: medium;
}

.container {
  margin: auto;
    max-width: 900px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  
  box-shadow: 100%;
 
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: white;
  position: relative;
}

.loginplace{
  color: rgb(54, 55, 56);
  background-color: rgb(237, 237, 248);
  border-radius: 20px;
  padding: 2%;
  border: none;
  
  width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 3%;

font-family: sans-serif;
font-size: 15px;

line-height: 1.2;

}


.loginbtn{
  color: white;
  background-color: rgb(22, 161, 22);
  border-radius: 20px;
  padding: 2%;
  border: none;
  
  width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 5%;

font-family: sans-serif;
font-size: 15px;




}
.loginbtn:hover {
  background-color: rgb(172, 228, 175);
  color: rgb(235, 240, 235);
}

.Login-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(128, 128, 128);
  background-image: url(../img/back1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin-bottom: 10%;
  margin-top: 0%;
  background: white;
  color: white;
  text-align: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 30px;
}
