<<<<<<< HEAD

=======
>>>>>>> d87e61e3fabbf2d5025de829f0c1233502ae35ca
.containerMain {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  margin: auto;
  box-shadow: 100%;
  width: 20%;
  border-radius: 15px 15px 15px 15px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background: white;
}

.form-control {
  color: rgb(54, 55, 56);
  background-color: rgb(237, 237, 248);
  border-radius: 20px;
  padding: 2%;
  border: none;
  
  width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 3%;

font-family: sans-serif;
font-size: 15px;

line-height: 1.5;

}

.Submitbtn{
  color: white;
  background-color: rgb(22, 161, 22);
  border-radius: 20px;
  padding: 2%;
  border: none;
  
  width: 100%;
display: -webkit-box;
display: -webkit-flex;
display: -moz-box;
display: -ms-flexbox;
display: flex;
flex-wrap: wrap;
justify-content: center;
margin-top: 5%;

font-family: sans-serif;
font-size: 15px;
}

.Submitbtn:hover {
  background-color: rgb(172, 228, 175);
  color: rgb(235, 240, 235);
}




.head{
  color:gray;
}
