.tickets-box{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 40%;
    background-color: white;
    border-color: black;
    padding: 1%;
<<<<<<< HEAD
<<<<<<< HEAD
    border-radius: 15px 15px 15px 15px;
=======
     border-radius: 15px 15px 15px 15px;
>>>>>>> d87e61e3fabbf2d5025de829f0c1233502ae35ca
=======
     border-radius: 15px 15px 15px 15px;
>>>>>>> 697f910440c46641668ee6122de530a35276c11d
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.top-box{
    text-align: left;
    font-size: x-large;
}

.line-section{
    width: 100%;
    height: 2.5px;
    background-color: lightgrey;
}

.mid-box{
    padding-top: 10%;
    text-align: center;
    font-size: x-large;
}

.bottom-box{
    display: flex;
    justify-content: right;
    padding-top: 10%;
}

.send-ticket-btn{
    background-color: forestgreen;
    color: white;
}
